// Make the background red
$green-bg: #78be20;
$blue-bg: #1f3150;
$white-bg: white;
$bluelight-bg: #0075b4;
$course-bg: $white-bg;
$gray-bg: #828282;

// Define a new Sass rule
// Define a new Sass rule



body{
  margin:0;
  overflow-x: hidden;

}
.global-header{

}
.global-header{
  background-color: $blue-bg !important;
  .main-header{
    .header-logo{
      .course-header{
        color: $green-bg !important;
      }
    }
      .nav-links{
        .main{
          a{
            background: $green-bg !important;
            color:$blue-bg !important;
            padding: 5px 20px !important;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            margin-right: 2em;
          }

        }
        .secondary{
          .nav-item{
            a{
              color: $bluelight-bg !important;
            }
          }
          .help-link{
            background: $green-bg !important;
            color:$blue-bg !important;
            padding: 5px 20px !important;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            // margin-right: 2em;
            border:2px solid $green-bg !important;
          }
          .help-link:hover{
            background: $green-bg !important;
            color:$blue-bg !important;
            padding: 5px 20px !important;
            border-radius: 5px;
            cursor: pointer;
            text-decoration: none;
            // margin-right: 2em;
            border:2px solid $blue-bg !important;
          }
          .user-image-frame{
            background: $green-bg !important;
            color:$blue-bg !important;
            cursor: pointer;
            border:2px solid $green-bg !important;
          }
          span{
            color: $green-bg !important;
            font-weight: bold;;
          }
          .dropdown-user-menu{
            background-color: $blue-bg !important;
            .dropdown-item{
              border-bottom:1px solid $green-bg !important;
            }
          }
        }

        .register-btn{
          background: $green-bg !important;
          color:$bluelight-bg !important;
          border:2px solid $green-bg !important;

        }
        .sign-in-btn{
          background: $green-bg !important;
          color:$bluelight-bg !important;
          border:2px solid $green-bg !important;

        }
        .register-btn:hover{
          background: $green-bg !important;
          border:2px solid $bluelight-bg !important;
          color:$bluelight-bg !important;
        }
        .sign-in-btn:hover{
          color:$bluelight-bg !important;
          border:2px solid $bluelight-bg !important;
          background: $green-bg !important;
        }

      }
  }

}
.wrapper-preview-menu{
  background-color: $green-bg !important;
}

.page-header{
  .has-breadcrumbs .breadcrumbs .all-topics{
    color:$green-bg !important;
    background-color: $blue-bg !important;
    border-color: $blue-bg !important;
    padding: 1em;
    border-radius: 0.25em

  }
  .has-breadcrumbs .breadcrumbs .all-topics:hover{
    color:$blue-bg !important;
    background-color: $green-bg !important;
    border-color: $green-bg !important;
    padding: 1em;
    border-radius: 0.25em
  }
  .page-header-search{
    .search-form{
      #search:hover{
        border-color: $green-bg !important;
      }
      .input-group-btn{
        .btn-outline-primary{
          color:$green-bg !important;
          border-color: $blue-bg !important;
        }
      }
      .input-group-btn{
        .btn-outline-primary:hover{

        }
      }
    }
  }
  .page-header-secondary{
    .forum-actions, .forum-search{
      .btn-outline-primary{
        color:$green-bg !important;
        border-color: $blue-bg !important;
      }
      .btn-outline-primary:hover{
        color:$blue-bg !important;
        border-color: $green-bg !important;
        border-width: medium;
        background-color: transparent;
        font-weight: bold;
      }
    }
    .forum-search{
      #search:hover{
        border-color: $green-bg !important;
      }
    }
  }
}

#content{
  .btn-primary{
    background-color: $green-bg !important;
    color:$blue-bg;
    border-color: transparent;

  }
  .btn-primary:hover{
    background-color: $blue-bg !important;
    color:$green-bg;
    border-color: transparent;

  }
  .tabs{
    .tab{
      a .active{
        color:$blue-bg !important;
        border-bottom-color:$blue-bg;
      }
      a{
        color:$blue-bg !important;
      }
      a:hover{
        color:$green-bg !important;
        font-weight: bold;
        border-bottom-color:$green-bg;
      }
    }
  }

  #course-container{
    .breadcrumbs{
      .nav-item{
        color:$blue-bg !important;
        a{
          color:$green-bg !important;
        }
      }
    }

    .page-content{
      .page-content-secondary{
        .section{
          h3{
            color:$blue-bg !important;
          }
          ul{
            li{
              a{
                color:$green-bg !important;
              }
              a:hover{
                font-weight: bold;
              }
            }
          }
          ol{
            li{
              a{
                color:$green-bg !important;
              }
              a:hover{
                font-weight: bold;
              }
            }
          }

        }

      }
    }
  }
}

.course-bookmarks {
  .bookmarks-results-list {
    .bookmarks-results-list-item:hover{
      border-color:$blue-bg;
      .list-item-breadcrumbtrail{
        color:$green-bg !important;
      }
    }
    .bookmarks-results-list-item::before{
        color:$green-bg !important;
    }
    .bookmarks-results-list-item{
      .list-item-breadcrumbtrail{
        color:$blue-bg !important;
      }
    }
    .list-item-left-section{
      color:$blue-bg !important;
    }
    .list-item-left-section:hover{
      color:$blue-bg !important;
      font-weight: bold;
    }
    .list-item-date{
      color:$blue-bg !important;
    }
    .list-item-right-section{
      color:$green-bg !important;
    }
    .list-item-right-section:hover{
      color:$blue-bg !important;
    }
  }
}
.forum-nav{
  color:$green-bg !important;
  .btn-link{
    color:$blue-bg !important;
  }
  .btn-link:hover{
    color:$green-bg !important;
  }
  .forum-nav-browse-menu-wrapper{
    background-color: $blue-bg !important;
  }
  .forum-nav-browse-title:hover{
    background-color: $green-bg !important;
    color: $blue-bg !important;
    border-bottom: 1px solid $blue-bg !important;
  }
  .forum-nav-browse-title{
    border-bottom: 1px solid transparent !important;
  }
}
.wiki-wrapper {
  section.wiki{
    .article-functions{
      .timestamp{
        .label{
          color:$green-bg !important;
        }
        .date{
          color:$blue-bg !important;
        }
      }
    }
    .see-children{
      a{
        color:$blue-bg !important;
      }
      a:hover{
        color:$green-bg !important;
      }
    }
    .nav-tabs{
      li.active a{
        color:$green-bg !important;
      }
      a{
        color:$blue-bg !important;
      }
      a:hover{
        color:$green-bg !important;
      }
    }
  }
    .main-article{
      h3{
        color:$green-bg !important;
      }
      color:$blue-bg !important;
    }
    .breadcrumb li a {
      color:$blue-bg !important;
    }
    .breadcrumb li a:hover {
      color:$green-bg !important;
    }
  }

#main{
  background-color: white;
  height: 100%;
  padding-bottom: 80px;
  .global-header{
    color: white;
  }


  .block-tree{
    .section{
      border-bottom:1px solid $blue-bg;
    }
    .section:hover{
      border-bottom:1px solid $green-bg;
    }
    .outline-button{
      color:$blue-bg;
      .fa{
        color:$green-bg !important;
      }
    }
    .outline-button:hover{
      color:$green-bg;
      font-weight: bold;
      .fa{
        color:$blue-bg !important;
      }
    }
  }

  .search-button{
    background: $green-bg !important;
    color:$blue-bg;
  }
  .search-button:hover{
    background: $green-bg !important;
    color:$blue-bg !important;
    font-weight: bold;;
  }
  .btn{
    background: $green-bg !important;
    color:$blue-bg;
  }
  .btn:hover{
    background: $blue-bg !important;
    color:$green-bg;
    font-weight: bold;
  }

  .course-search{
    text-align: center;
    .search-input{
      width: 60%;
    }
  }
  .courses-container{
    .courses{
      margin-left: 5%;
      margin-left: 5%;
      .courses-listing{
        .courses-listing-item{
          article{
            background-color: $course-bg !important;
            // border: 2px solid $bluelight-bg;
            border-radius: 20px;
          }
          .learn-more{
            background: $green-bg !important;
            color:$blue-bg !important;
            border:2px solid $green-bg !important;
          }
          // width: 20%;
          .course-info{
            height: auto;
            .course-name{
              .course-title{
                height: auto;
                color: $blue-bg;
                font-weight: bold;
              }
              .course-organization{
                color: $green-bg;
                font-weight: bold;
              }
              .course-code{
                color: $green-bg;
                font-weight: bold;
              }
            }
            .course-profile{
              .intro-inner-wrapper{
                .table{
                  .intro{
                    .main-cta{
                      .register{
                        background: $green-bg !important;
                        color:$blue-bg !important;
                        border:2px solid $green-bg !important;
                      }
                    }
                  }
                }
              }
            }

          }

        }
      }
    }
  }

  //added for the profile page //
  .wrapper-profile-section-one{
    background-color: $blue-bg;
    border-top: 5px solid #78be20;
    label{
      color:$green-bg;
    }
    span{
      color:$white-bg;
    }
  }
}

#footer-edx-v3{
  background-color: $green-bg !important;
  // position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  .icon{
    color: $blue-bg !important;
  }
  #footerContent{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;

    .row{
      margin: 0 auto;

    }
    .edx-footer-logo{
      img{
        width: 30% !important;
      }
    }
  }

}
//Addition of the course //
.courses_flex_container{
  display: flex;
  #discovery-form{
    flex:1 1 30%;
    .search-facets{
      width: 100%;
      .search-facets-lists{
        background-color:$blue-bg;
        color:$white-bg;
      }

      .header-facet{
        color:$green-bg;
        border-top: 1px solid $green-bg;
      }
      button{
        color:$gray-bg;
        font-weight: bold;
      }
    }
    .wrapper-search-input{
      width: 100%;
      button{
        background: $green-bg !important;
        border:2px solid $green-bg !important;
        color:$bluelight-bg;
      }
      button{
        background: $green-bg !important;
        border:2px solid $bluelight-bg !important;
        color:$bluelight-bg !important;
      }
    }

  }
  #courses_list_div{
    flex:1 1 70%;
    width: 100%;
  }
}
.wrapper-preview-menu{
  .preview-actions{
    .action-preview{
      .action-preview-label{
        color:$blue-bg !important;
        font-weight: bold;
      }
      .action-preview-select{
        background-color: $blue-bg;
        color: $green-bg;
        padding: 5px 35px 5px 5px;
        font-size: 1em;
        border: 1px solid #ccc;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        font-weight: bold;
        border-color: $blue-bg;
      }
      .action-preview-select:hover{
        background-color: $blue-bg;
        color: $green-bg;
        padding: 5px 35px 5px 5px;
        font-size: 1em;
        border: 1px solid #ccc;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        font-weight: bold;
        border-color: black;
      }

    }
  }
}
.content-wrapper{
  .course-tabs{
    .navbar-nav{
      .nav-item{
        .nav-link{
          color:$blue-bg !important;
        }
      }
      .nav-item.active{
        .nav-link{
          color:$blue-bg !important;
          border-bottom-color:$green-bg !important;
        }
        color:$blue-bg !important;
      }
      .nav-item:hover{
        .nav-link{
          color:$blue-bg !important;
          font-weight: bold;
          border-bottom-color: $green-bg !important
        }
      }
    }
  }
}
