// Make the background red
$green-bg: #78be20;
$blue-bg: #1f3150;
$white-bg: white;
$bluelight-bg: #0075b4;
$course-bg: $green-bg;
$gray-bg: #828282;

// Define a new Sass rule
// Define a new Sass rule



body{
  margin:0;
  overflow-x: hidden;
  // padding:10px;
  // padding-bottom:60px;
}
.global-header{
  background-color: $blue-bg !important;
  .main-header{
      .nav-links{
        .icons_nav_bar{

          background: $bluelight-bg !important;
          // border:2px solid $bluelight-bg !important;
          color:$blue-bg !important;
          padding: 5px 20px;
          border-radius: 5px;
          cursor: pointer;
          text-decoration: none;

        }
        .register-btn{
          background: $green-bg !important;
          color:$bluelight-bg !important;
          border:2px solid $green-bg !important;

        }
        .sign-in-btn{
          background: $green-bg !important;
          color:$bluelight-bg !important;
          border:2px solid $green-bg !important;

        }
        .register-btn:hover{
          background: $green-bg !important;
          border:2px solid $bluelight-bg !important;
          color:$bluelight-bg !important;
        }
        .sign-in-btn:hover{
          color:$bluelight-bg !important;
          border:2px solid $bluelight-bg !important;
          background: $green-bg !important;
        }

      }
  }

}
#main{
  background-color: white;
  height: 100%;
  padding-bottom: 80px;
  .global-header{
    color: white;
  }
  // header{
  //   background-color: white !important;
  // }
  .course-search{
    text-align: center;
    .search-input{
      width: 60%;
    }
    .search-button{
      background: $green-bg !important;
      border:2px solid $green-bg !important;
      color:$bluelight-bg;
    }
    .search-button:hover{
      background: $green-bg !important;
      border:2px solid $bluelight-bg !important;
      color:$bluelight-bg !important;
    }
  }
  .courses-container{
    .courses{
      margin-left: 5%;
      margin-left: 5%;
      .courses-listing{
        .courses-listing-item{
          article{
            background-color: $course-bg !important;
            border: 2px solid $bluelight-bg;
          }
          // width: 20%;
          .course-info{
            height: auto;
            .course-name{
              .course-title{
                height: auto;
                color: $blue-bg;
                font-weight: bold;
              }
              .course-organization{
                color: $white-bg;
                font-weight: bold;
              }
              .course-code{
                color: $white-bg;
                font-weight: bold;
              }
            }
          }

        }
      }
    }
  }

}

#footer-edx-v3{
  background-color: $blue-bg !important;
  // position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  #footerContent{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    .row{
      margin: 0 auto;
    }
    .edx-footer-logo{
      img{
        width: 30% !important;
      }
    }

  }
}
//Addition of the course //
.courses_flex_container{
  display: flex;
  #discovery-form{
    flex:1 1 30%;
    .search-facets{
      width: 100%;
      .search-facets-lists{
        background-color:$blue-bg;
        color:$white-bg;
      }

      .header-facet{
        color:$green-bg;
        border-top: 1px solid $green-bg;
      }
      button{
        color:$gray-bg;
        font-weight: bold;
      }
    }
    .wrapper-search-input{
      width: 100%;
      button{
        background: $green-bg !important;
        border:2px solid $green-bg !important;
        color:$bluelight-bg;
      }
      button{
        background: $green-bg !important;
        border:2px solid $bluelight-bg !important;
        color:$bluelight-bg !important;
      }
    }

  }
  #courses_list_div{
    flex:1 1 70%;
    width: 100%;
  }

}
