// Make the background red
$green-bg: #78be20;
$blue-bg: #1f3150;
$white-bg: white;
$bluelight-bg: #0075b4;
$course-bg: $white-bg;
$gray-bg: #828282;

// Define a new Sass rule
// Define a new Sass rule



body{
  margin:0;
  overflow-x: hidden;
}
#view-top{
  background-color: $blue-bg !important;
  .info-course{
    span, a{
      color: $green-bg !important;
    }
    span:hover, a:hover{
      color: $blue-bg !important;
    }
  }
}
#view-top, #main{

  .wrapper-l,.wrapper-r{
    background-color: $blue-bg !important;
  }
  .nav-account-user .title, .nav-account-help .title {
    background-color: $green-bg !important;
    color: $blue-bg !important;
    font-weight: bold;
    border-width: 0.2em;
    border-style: solid;
    border-color: transparent;
  }
  .nav-account-user .title:hover, .nav-account-help .title:hover {
    background-color: $blue-bg !important;
    color: $green-bg !important;
    font-weight: bold;
    border-width: 0.2em;
    border-style: solid;
    border-color: transparent;
  }

  .nav-item a{
    background-color: $green-bg !important;
    color: $blue-bg !important;
    font-weight: bold;
  }
  .nav-item a:hover{
    background-color: $blue-bg !important;
    color: $green-bg !important;
    font-weight: bold;
  }
  .nav-item h3{
    background-color: $green-bg !important;
    color: $blue-bg !important;
    font-weight: bold;
    border-color: transparent;
  }
  .nav-item h3:hover{
    background-color: $blue-bg !important;
    color: $green-bg !important;
    font-weight: bold;
    border-color: transparent;

  }
  .nav-not-signedin-help a{
    background-color: $blue-bg !important;
    color: $green-bg !important;
  }
  .nav-not-signedin-help:hover{
    background-color: $green-bg !important;
    color: $blue-bg !important;
  }
  .nav-sub{
    .nav-item{
      a{
        color: $blue-bg !important;
        background-color: transparent !important;
      }
    }
    .nav-item:hover{
      a{
        color: $green-bg !important;
      }
    }
  }
}


#content{

  .page-header{
    color: $blue-bg;
  }
  .wrapper-content-header{
    background-color:$green-bg !important;
    background-image:linear-gradient($green-bg,$green-bg,$green-bg);
  }
  .content-header {
    p, h1{
      color: $blue-bg !important;

    }
  }
  .wrapper-content-cta{
    .list-actions{
      .action-item{
        .action-primary{
          background-color: $green-bg !important;
          color: $blue-bg !important;
        }
        .action-secondary{
          color: $green-bg !important;
        }
      }
    }
  }
  .list-courses{
	   border: 1px solid $blue-bg;
  }
  .list-courses:hover{
	   border: 1px solid $green-bg;
  }
  .course-item{
    .course-link{
        color:$green-bg !important;
    }
    .course-metadata{
      color:$blue-bg !important;
    }
    .course-actions{
      font-weight: bold;
    }
    border-bottom: 1px solid $blue-bg;

  }
  .course-item:hover{
    .course-link{
        color:$green-bg !important;
    }
    .course-metadata{
      color:$green-bg !important;
    }
    .course-actions{
      color:$white-bg !important;
      a{
        color:$white-bg !important;

      }
    }
    border-bottom: 1px solid $green-bg  !important;
    background-color: $blue-bg !important;

  }
  .action-item{
    a{
      background-color: $blue-bg !important;
      color: $green-bg !important;
      border-color: transparent !important;
    }
  }
  .action-item:hover{
    a{
      background-color: $green-bg !important;
      color: $blue-bg !important;
      border-color: transparent !important;
    }
  }

  .msg{
    h3{
      color: $green-bg !important;
    }
    p{
      color: $blue-bg !important;
    }
  }
  .bit{
    h3{
      color: $green-bg !important;
    }
    p{
      color: $blue-bg !important;
    }
  }
  .section-header{
    h3{
      span{
        color: $blue-bg !important;
        font-weight: bold;
      }
    }

  }
  .section-header:hover{
    span{
      color: $bluelight-bg !important;
      font-weight: bold;
    }
  }
  .subsection-header{
    h3{
      color: $green-bg !important;
      font-weight: bold;
      span{
        color: $green-bg !important;
      }
    }
    h3:hover{
      color: $blue-bg !important;
      font-weight: bold;
      span{
        color: $blue-bg !important;
      }
    }
  }
  .add-subsection{
    a{
      background-color: $blue-bg !important;
      color: $green-bg !important;
      border-color: transparent !important;
    }
  }
  .add-subsection:hover{
    a{
      background-color: $green-bg !important;
      color: $blue-bg !important;
      border-color: transparent !important;
    }
  }

}
.wrapper-footer{
  background-color: $green-bg !important;
  p{
    color: $blue-bg !important;
    font-weight: bold;
  }
}

.wrapper-sock{
    .action-item{
      a{
        background-color: $blue-bg !important;
        color: $green-bg !important;
        border-color: transparent !important;
      }
    }
    .action-item:hover{
      a{
        background-color: $green-bg !important;
        color: $blue-bg !important;
        border-color: transparent !important;
      }
    }
}
