// Make the background red
$green-bg: #78be20;
$blue-bg: #1f3150;
$white-bg: white;
$bluelight-bg: #0075b4;
$course-bg: $white-bg;
$gray-bg: #828282;
$gray-bgedx: #666;

// Define a new Sass rule
// Define a new Sass rule



body{
  margin:0;
  overflow-x: hidden;
}
#view-top{
  background-color: $blue-bg !important;
  .info-course{
    span, a{
      color: $green-bg !important;
    }
    span:hover, a:hover{
      color: $bluelight-bg !important;
    }
  }
}
#view-top, #main{

  .wrapper-l,.wrapper-r{
    background-color: $blue-bg !important;
  }
  .nav-account-user .title{
    background-color: $green-bg !important;
    color: $blue-bg !important;
    font-weight: bold;
    border-width: 0.2em;
    border-style: solid;
    border-color: transparent;
  }
  .nav-account-help .title{
    color: $blue-bg !important;
    font-weight: bold;
    border-width: 0.2em;
    border-style: solid;
    border-color: transparent;
  }
  .nav-account-user .title:hover, .nav-account-help .title:hover {
    background-color: $blue-bg !important;
    color: $green-bg !important;
    font-weight: bold;
    border-width: 0.2em;
    border-style: solid;
    border-color: transparent;
  }

  .nav-item a{
    background-color: $green-bg !important;
    color: $blue-bg !important;
    font-weight: bold;
  }
  .nav-item a:hover{
    background-color: $blue-bg !important;
    color: $green-bg !important;
    font-weight: bold;
  }
  .nav-item h3{
    background-color: $green-bg !important;
    color: $blue-bg !important;
    font-weight: bold;
    border-color: transparent;
  }
  .nav-item h3:hover{
    background-color: $blue-bg !important;
    color: $green-bg !important;
    font-weight: bold;
    border-color: transparent;

  }
  .nav-not-signedin-help a{
    background-color: $blue-bg !important;
    color: $green-bg !important;
  }
  .nav-not-signedin-help:hover{
    background-color: $green-bg !important;
    color: $blue-bg !important;
  }
  .nav-sub{
    .nav-item{
      a{
        color: $blue-bg !important;
        background-color: transparent !important;
      }
    }
    .nav-item:hover{
      a{
        color: $green-bg !important;
      }
    }
  }

  #root.SFE .table th button {
    padding: 0.5em;

  }
}



#content{
  .page-header{
    color: $blue-bg;
  }
  .wrapper-content-header{
    background-color:$green-bg !important;
    background-image:linear-gradient($green-bg,$green-bg,$green-bg);
  }
  .content-header {
    p, h1{
      color: $blue-bg !important;

    }
  }
  .wrapper-content-cta{
    .list-actions{
      .action-item{
        .action-primary{
          background-color: $green-bg !important;
          color: $blue-bg !important;
        }
        .action-secondary{
          color: $green-bg !important;
        }
      }
    }
  }
  .list-courses{
	   border: 1px solid $blue-bg;
  }
  .list-courses:hover{
	   border: 1px solid $green-bg;
  }
  .course-item{
    .course-link{
        color:$green-bg !important;
    }
    .course-metadata{
      color:$blue-bg !important;
    }
    .course-actions{
      font-weight: bold;
    }
    border-bottom: 1px solid $blue-bg;

  }
  .course-item:hover{
    .course-link{
        color:$green-bg !important;
    }
    .course-metadata{
      color:$green-bg !important;
    }
    .course-actions{
      color:$white-bg !important;
      a{
        color:$white-bg !important;

      }
    }
    border-bottom: 1px solid $green-bg  !important;
    background-color: $blue-bg !important;

  }
  .actions-list:hover{
    li{
      .action-button{
          background-color: $green-bg !important;
          color: $blue-bg !important;
          border-color: transparent !important;
      }
    }

  }

  .action-item{
    a{
      background-color: $blue-bg !important;
      color: $green-bg !important;
      border-color: transparent !important;
    }
  }
  .action-item:hover{
    a{
      background-color: $green-bg !important;
      color: $blue-bg !important;
      border-color: transparent !important;
    }
  }
  .action-item{
    .action-discard{
      color: $green-bg !important;
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }
  .action-item:hover{
    .action-discard{
      color: $blue-bg !important;
      background-color: transparent !important;
      border-color: transparent !important;
    }
  }


  .msg{
    h3{
      color: $green-bg !important;
    }
    p{
      color: $blue-bg !important;
    }
  }
  .bit{
    h3{
      color: $green-bg !important;
    }
    p{
      color: $blue-bg !important;
    }
  }
  .section-header{
    h3{
      span{
        color: $blue-bg !important;
        font-weight: bold;
      }
    }
  }
  .section-header{
    h3{
      span{
        a{
          color: $blue-bg !important;
          font-weight: bold;
        }
      }
    }
  }
  .section-header:hover{
    h3{
      span{
        a{
          color: $bluelight-bg !important;
          font-weight: bold;
        }
      }
    }

  }
  .subsection-header{
    h3{
      color: $green-bg !important;
      font-weight: bold;
      span{
        a{
          color: $green-bg !important;
        }
      }
    }
    h3:hover{
      color: $blue-bg !important;
      font-weight: bold;
      span{
        a{
          color: $blue-bg !important;
        }
      }
    }
  }
  .add-subsection{
    a{
      background-color: $blue-bg !important;
      color: $green-bg !important;
      border-color: transparent !important;
    }
  }
  .add-subsection:hover{
    a{
      background-color: $green-bg !important;
      color: $blue-bg !important;
      border-color: transparent !important;
    }
  }
  .add-section{
    a{
      background-color: $blue-bg !important;
      color: $green-bg !important;
      border-color: transparent !important;
    }
  }
  .add-section:hover{
    a{
      background-color: $green-bg !important;
      color: $blue-bg !important;
      border-color: transparent !important;
    }
  }
  .add-unit{
    a{
      background-color: $blue-bg !important;
      color: $green-bg !important;
      border-color: transparent !important;
    }
  }
  .add-unit:hover{
    a{
      background-color: $green-bg !important;
      color: $blue-bg !important;
      border-color: transparent !important;
    }
  }
  .add-pages{
    p{
      a{
        background-color: $blue-bg !important;
        color: $green-bg !important;
        border-color: transparent !important;
      }
    }

  }
  .add-pages:hover{
    p{
      a{
        background-color: $green-bg !important;
        color: $blue-bg !important;
        border-color: transparent !important;
      }
    }
  }
  button{
    background-color: $blue-bg !important;
    color: $green-bg !important;
    border-color: transparent !important;
  }
  button:hover{
    background-color: $green-bg !important;
    color: $blue-bg !important;
    border-color: transparent !important;
  }
  .unit-header{
    h3{
      span{
        a{
          color: $blue-bg !important;
          border-color: transparent !important;
        }
      }
    }
  }
  .unit-header:hover{
    h3{
      span{
        a{
          color: $green-bg !important;
          border-color: transparent !important;
          font-weight: bold;
        }
      }
    }
  }

  .wrapper-content{
    section{
      article{
        .textbooks-list{
          .no-textbook-content{
            p{
              a{
                background-color: $blue-bg !important;
                color: $green-bg !important;
                border-color: transparent !important;
              }
            }
          }
        }
      }
    }
  }
  .wrapper-content{
    .content{
      .content-primary{
        .textbooks-list{
          .no-textbook-content{
            p{
              a:hover{
                background-color: $green-bg !important;
                color: $blue-bg !important;
                border-color: transparent !important;
              }
            }
          }
        }
      }
    }
  }


}
.modal-actions{
  li{
    a{
      background-color: $blue-bg !important;
      color: $green-bg !important;
      border-color: transparent !important;
    }
  }
}

[class*="view-"] .modal-window{
  background-color: $blue-bg !important;
  .title{
    color:$green-bg !important;
    font-weight: bold;
  }
}


.wrapper-footer{
  background-color: $green-bg !important;
  p{
    color: $blue-bg !important;
    font-weight: bold;
  }
}

.wrapper-sock{
    .action-item{
      a{
        background-color: $blue-bg !important;
        color: $green-bg !important;
        border-color: transparent !important;

      }
    }
    .action-item:hover{
      a{
        background-color: $green-bg !important;
        color: $blue-bg !important;
        border-color: transparent !important;
      }
    }
}
